@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);
/*
* Overrides
*/
body {
  font: 300 16px Oxygen;
  background-color: #ECECEC;
  color: #FFF;
  text-align: center;
}

h1 {
  font: 700 38px Oxygen;
  color: #313131;
}

h2 {
  font: 400 16px Oxygen;
  color: #808080;
}

p {
  margin: 0;
  color: #FFF;
  background-color: #36A9E3;
}

a {
  color: #FFF;
  background-color: #36E370;
  text-decoration: none;
}

/*
* Utilidades
*/
.container {
  height: 280px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*
* Botones
*/
.button-group {
  margin-top: 50px;
}

/* General Button Styles */
.button {
  display: inline-block;
  position: relative;
  height: 60px;
  width: 120px;
  margin-right: 15px;
  cursor: pointer;
}
.button:last-child {
  margin-right: 0px;
}
.button .inner {
  display: block;
  text-align: center;
  line-height: 60px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.button .inner .child {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

/* Animaciones */
.fade .inner a {
  opacity: 0;
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}
.fade .inner:hover a {
  opacity: 1;
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}

.flip1 {
  perspective: 800px;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
}
.flip1 .inner {
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s;
  -moz-transition: -moz-transform 1s;
  -webkit-transition: -webkit-transform 1s;
}
.flip1 .inner .child {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.flip1 .inner a {
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
.flip1 .inner:hover {
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

/* Flip Horizontal Animation */
.flip2 {
  perspective: 800px;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
}
.flip2 .inner {
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s;
  -moz-transition: -moz-transform 1s;
  -webkit-transition: -webkit-transform 1s;
}
.flip2 .inner .child {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.flip2 .inner a {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.flip2 .inner:hover {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.open {
  perspective: 800px;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
}
.open .inner {
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.open .inner p {
  transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transition: transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
}
.open .inner a {
  z-index: -5;
}
.open .inner:hover p {
  transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transition: transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
}

/*# sourceMappingURL=main.css.map */
